// Buttons

$button-color: red;
$button-color-hover: green;
$button-background-color: blue;
$button-background-color-hover: #000;
$button-border-color: #000;
$button-border-color-hover: #000;
$button-border-width: 1px;
$button-border-style: solid;


// Path: assets/styles/theme.scss